@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
main {
  background-color: #fffdfa;
}
main .main-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
main .main-inner > * {
  letter-spacing: 0.5px;
}
main .main-inner .top {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
}
main .main-inner .top .fa-regular {
  position: absolute;
  top: 27px;
  left: 20px;
  font-size: 23px;
}
main .main-inner .text {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .main-inner .text h2 {
  padding-bottom: 10px;
}
main .main-inner .text p {
  font-size: 18px;
  padding-bottom: 10px;
}
main .main-inner .text ul {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
main .main-inner .text ul li {
  font-size: 18px;
  font-weight: lighter;
  margin-left: 20px;
}
main .main-inner .text .buttons {
  display: flex;
  gap: 15px;
}
main .main-inner .text .buttons a {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 10px;
}
main .main-inner .text .buttons a:nth-child(1) {
  background-color: #111844;
  color: #fffdfa;
}
main .main-inner .text .buttons a:nth-child(2) {
  background-color: #aa1945;
  color: #fffdfa;
}
main .main-inner .image {
  grid-column: 2/3;
}
main .main-inner .image #mock-image {
  width: 100%;
}
main .main-inner #footer {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1400px) {
  main .main-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }
  main .main-inner .top {
    grid-column: 1;
  }
  main .main-inner .top p {
    padding: 0 10px;
  }
  main .main-inner .image {
    grid-row: 2;
    grid-column: 1;
  }
  main .main-inner .text {
    grid-row: 3;
    grid-column: 1;
    margin-bottom: 10px;
  }
  main .main-inner .text .buttons {
    justify-content: center;
  }
  main .main-inner #footer {
    grid-column: 1;
  }
}
@media (max-width: 508px) {
  main .main-inner .text p {
    font-size: 16px;
  }
  main .main-inner .text ul {
    font-size: 20px;
    list-style: none;
  }
}
@keyframes transitionForPage {
  from {
    opacity: 0;
    transform: rotateX(10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
.transition {
  animation: transitionForPage 0.75s;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Brooklyn";
  src: url("../fonts/Filmotype-Brooklyn.ttf");
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #111844;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fffdfa;
  font-family: "Brooklyn";
}

#header {
  height: 100vh;
}
#header .header-inner {
  width: 95%;
  margin: auto;
  height: 100vh;
  letter-spacing: 0.5px;
}
#header .header-inner nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-inner nav .logo {
  width: 50px;
}
#header .header-inner nav .logo img {
  width: 100%;
}
#header .header-inner nav .list-items {
  list-style: none;
  display: flex;
  gap: 60px;
  align-items: center;
}
#header .header-inner nav .list-items li a {
  text-decoration: none;
  position: relative;
  font-size: 18px;
  display: inline-block;
}
#header .header-inner nav .list-items li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 57px;
  background-color: #aa1945;
  z-index: -1;
  opacity: 0;
  border-radius: 5px;
}
#header .header-inner nav .list-items li:nth-child(2) a:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 42px;
  background-color: #aa1945;
  z-index: -1;
  opacity: 0;
  border-radius: 5px;
}
#header .header-inner nav .list-items li a:hover:before {
  opacity: 1;
  transition: 0.4s ease-in;
}
#header .header-inner nav .burger-menu {
  display: none;
}
#header .header-inner nav .burger-menu div {
  width: 25px;
  height: 3px;
  background-color: #aa1945;
  margin: 5px;
  border-radius: 3px;
}
#header .header-inner .hero-section {
  display: grid;
  grid-template-columns: auto 1fr;
  height: inherit;
}
#header .header-inner .hero-section .social-icons {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 20px;
  justify-content: center;
  padding-left: 12px;
}
#header .header-inner .hero-section .social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}
#header .header-inner .hero-section .social-icons a::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #aa1945;
  z-index: -10;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.4s, opacity 0.3s;
}
#header .header-inner .hero-section .social-icons a:hover::before {
  transform: scale(1);
  opacity: 1;
}
#header .header-inner .hero-section .hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle .image-shape {
  width: 300px;
  height: 300px;
  position: relative;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle .image-shape .image-me {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle .image-shape .image-me img {
  width: 100%;
  filter: grayscale(1);
  transition: all 0.4s ease-in-out;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle .image-shape .image-me img:hover {
  filter: none;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle h1 {
  font-size: 30px;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle h1 #name {
  font-size: 96px;
  font-family: "Inspiration", sans-serif;
  color: #aa1945;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle p {
  font-size: 22px;
  margin-top: -20px;
  border-top: 1px solid rgba(0, 0, 0, 0.24);
  padding-top: 20px;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle .buttons {
  display: flex;
  gap: 10px;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle .buttons #btn-contact,
#header .header-inner .hero-section .hero-inner .hero-inner-middle .buttons #btn-projects {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle .buttons #btn-contact {
  background-color: #111844;
  border: none;
  color: #fffdfa;
  background: linear-gradient(to left, #111844 50%, #aa1945 50%) right;
  transition: transform 0.3s;
  background-size: 200%;
  transition: 0.5s ease-out;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle .buttons #btn-contact:hover {
  background-position: left;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle .buttons #btn-projects {
  border: 3px solid #111844;
  transition: all 0.3s ease-in;
}
#header .header-inner .hero-section .hero-inner .hero-inner-middle .buttons #btn-projects:hover {
  border-color: #aa1945;
  color: #aa1945;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#projects {
  margin-top: 30px;
}
#projects .projects-inner {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  position: relative;
}
#projects .projects-inner h1,
#projects .projects-inner p {
  grid-column: 1/-1;
  text-align: center;
  letter-spacing: 0.5px;
}
#projects .projects-inner .project-title {
  font-size: 35px;
}
#projects .projects-inner p {
  font-size: 22px;
}
#projects .projects-inner .project {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #fffdfa;
}
#projects .projects-inner .project:after {
  content: "";
  background-color: #111844;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -145%;
  height: 150%;
  transition: all 0.5s ease-in;
}
#projects .projects-inner .project:hover:after {
  bottom: 95%;
}
#projects .projects-inner .project:hover > .project-inner {
  opacity: 0.1;
}
#projects .projects-inner .project .project-inner {
  position: relative;
}
#projects .projects-inner .project .project-inner img {
  width: 150px;
  height: 150px;
}
#projects .projects-inner .project .link-project {
  display: flex;
  font-size: 29px;
  letter-spacing: 0.5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  color: #aa1945;
  text-decoration: none;
  opacity: 0;
  padding-bottom: 5px;
  transition-delay: 0;
  font-family: "PoppinsBold";
}
#projects .projects-inner .project:hover .link-project {
  opacity: 1;
  transition-delay: 0.4s;
}

#process {
  margin-top: 150px;
}
#process h1 {
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 35px;
}
#process .process-inner {
  width: 85%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 80px;
  position: relative;
}
#process .process-inner .card {
  height: 250px;
  background-color: #fffdfa;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}
#process .process-inner .card .image {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #111844;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}
#process .process-inner .card .image:before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.0509803922);
  font-family: "PoppinsBold";
}
#process .process-inner .card .image img {
  max-width: 120px;
  transition: 0.5s ease-in-out;
}
#process .process-inner .card:hover .image {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background: #aa1945;
}
#process .process-inner .card:hover .image img {
  max-width: 75px;
}
#process .process-inner .card .content {
  font-family: "brooklyn";
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#process .process-inner .card .content h2 {
  margin-bottom: 5px;
}

#about {
  margin: 50px 0;
}
#about h1 {
  font-size: 35px;
  text-align: center;
}
#about .about-inner {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#about .about-inner .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  align-items: center;
  letter-spacing: 0.5px;
  font-size: 20px;
}
#about .about-inner .left p {
  font: 26px;
}
#about .about-inner .left p:nth-child(5) {
  padding-bottom: 30px;
}
#about .about-inner .left #quote {
  font-size: 16px;
  width: 250px;
  height: 100px;
  background-color: #111844;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 5px;
}
#about .about-inner .left #quote::before {
  content: "";
  width: 200px;
  height: 150px;
  background-color: #aa1945;
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.64);
}
#about .about-inner .left #quote blockquote {
  color: #fffdfa;
  position: relative;
}
#about .about-inner .left #quote blockquote::before, #about .about-inner .left #quote blockquote::after {
  color: #fffdfa;
  background-color: #111844;
  width: auto;
  height: 30px;
  font-size: 40px;
  position: absolute;
  font-family: "EB Garamond", serif;
  border-radius: 5px;
}
#about .about-inner .left #quote blockquote::before {
  content: "“";
  top: -10px;
  left: -15px;
}
#about .about-inner .left #quote blockquote::after {
  content: "”";
  bottom: -35px;
  right: -9px;
}
#about .about-inner .left #quote cite {
  font-size: 10px;
  font-style: italic;
  color: #fffdfa;
}
#about .about-inner .left .waving-hand {
  animation: wave 2s 1.7s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
  font-size: 24px;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#about .about-inner .right {
  padding: 2em;
  display: flex;
  justify-content: center;
}
#about .about-inner .right .right-image {
  position: relative;
  width: 100%;
  max-width: 550px;
  background-image: url("../images/image-about.jpg");
  background-size: cover;
  min-height: 340px;
  filter: grayscale(1);
  transition: all 0.4s ease-in-out;
}
#about .about-inner .right .right-image::before, #about .about-inner .right .right-image::after {
  content: "";
  position: absolute;
  border: 2px solid #111844;
}
#about .about-inner .right .right-image:before {
  left: -20px;
  width: calc(100% + 40px);
  height: 100%;
}
#about .about-inner .right .right-image:after {
  top: -20px;
  height: calc(100% + 40px);
  width: 100%;
}
#about .about-inner .right .right-image:hover {
  filter: none;
}

svg {
  margin-bottom: -6px;
}

path {
  filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 1px 4px);
}

#contact {
  letter-spacing: 0.5px;
  background-color: #f3f4f5;
}
#contact h1 {
  text-align: center;
  font-size: 35px;
}
#contact .contact-inner {
  text-align: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#contact .contact-inner p {
  font-size: 22px;
}
#contact .contact-inner .btn-container {
  display: flex;
  align-items: center;
}
#contact .contact-inner .btn-container button {
  border: 3px solid #111844;
  color: #111844;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#contact .contact-inner .message {
  padding: 8px 15px;
  background-color: #aa1945;
  border-radius: 10px;
  color: #fffdfa;
  opacity: 0;
}
#contact .social-icons-mobile {
  display: none;
}

#footer {
  width: 100%;
  background-color: #111844;
}
#footer .footer-inner {
  display: flex;
  font-size: 18px;
  justify-content: center;
  padding: 5px 0;
}
#footer .footer-inner p {
  padding-bottom: 5px;
  color: #fffdfa;
}
#footer .footer-inner p .fa-heart::before {
  color: #aa1945;
}
#footer .footer-inner p .fa-copyright::before {
  color: #fffdfa;
}

@media (min-width: 1622px) {
  #projects .projects-inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  #about .about-inner {
    grid-template-columns: 1fr;
  }
  #about .right {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  #about .about-inner .left {
    font-size: 18px;
  }
  #process .process-inner .step-three {
    grid-column: 1/-1;
  }
}
@media (max-width: 508px) {
  body {
    overflow-x: hidden;
  }
  body #header {
    height: auto;
    margin-bottom: 100px;
  }
  body #header .header-inner {
    height: auto;
  }
  body #header .header-inner nav .logo {
    z-index: 2;
  }
  body #header .header-inner nav .list-items {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #111844;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: 100px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  body #header .header-inner nav .list-items .list-item a {
    color: #fffdfa;
  }
  body #header .header-inner nav .list-items .list-item a:hover::before {
    opacity: 0;
  }
  body #header .header-inner nav .list-items.active {
    transform: translateX(0%);
  }
  body #header .header-inner nav .burger-menu {
    display: block;
    cursor: pointer;
    z-index: 2;
  }
  body #header .header-inner .hero-section {
    grid-template-columns: 1fr;
  }
  body #header .header-inner .hero-section .social-icons {
    display: none;
  }
  body #header .header-inner .hero-section .hero-inner .hero-inner-middle {
    margin-top: 30px;
  }
  body #header .header-inner .hero-section .hero-inner .hero-inner-middle .image-shape {
    width: 250px;
    height: 250px;
  }
  body #header .header-inner .hero-section .hero-inner .hero-inner-middle h1 #name {
    font-size: 80px;
  }
  body #header .header-inner .hero-section .hero-inner .hero-inner-middle p {
    font-size: 18px;
  }
  body #header .header-inner .hero-section .hero-inner .hero-inner-middle .buttons #btn-contact,
  body #header .header-inner .hero-section .hero-inner .hero-inner-middle .buttons #btn-projects {
    padding: 8px 28px;
  }
  #projects .projects-inner {
    width: 100%;
  }
  #projects .projects-inner .project-title {
    font-size: 30px;
  }
  #projects .projects-inner .project {
    border-bottom: 10px solid #111844;
  }
  #projects .projects-inner .project::after {
    height: 0;
  }
  #projects .projects-inner .project:hover > .project-inner {
    opacity: 1;
  }
  #projects .projects-inner .project:hover .link-project {
    opacity: 0;
  }
  #projects .projects-inner .project p {
    font-size: 18px;
  }
  #about h1 {
    font-size: 30px;
  }
  #about .about-inner .left {
    text-align: center;
  }
  #about .about-inner .right .right-image {
    background-position: center;
  }
  #process h1 {
    font-size: 30px;
  }
  #process .process-inner {
    justify-items: center;
  }
  #process .process-inner .card {
    height: auto;
    max-width: 300px;
  }
  #process .process-inner .card .image {
    position: relative;
    grid-row: 1/2;
  }
  #process .process-inner .card .image::before {
    font-size: 70px;
    bottom: 10px;
  }
  #process .process-inner .card:hover .image, #process .process-inner .card .image {
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
  }
  #process .process-inner .card:hover .image img, #process .process-inner .card .image img {
    max-width: 100px;
  }
  #process .process-inner .card .content {
    position: relative;
    width: 100%;
    height: auto;
  }
  #contact h1 {
    font-size: 30px;
  }
  #contact .contact-inner {
    padding: 0 20px;
  }
  #contact .contact-inner p {
    font-size: 18px;
  }
  #contact .social-icons-mobile {
    display: flex;
    gap: 10px;
  }
  #contact .social-icons-mobile a {
    border: none;
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
