$breakpoint-mobile: 508px;

main {
  background-color: #fffdfa;

  .main-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    .top {
      grid-column: 1/-1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 15px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      position: relative;
      text-align: center;

      .fa-regular {
        position: absolute;
        top: 27px;
        left: 20px;
        font-size: 23px;
      }
    }

    .text {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
      padding: 0 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      h2 {
        padding-bottom: 10px;
      }

      p {
        font-size: 18px;
        padding-bottom: 10px;
      }

      .ul-list {
        font-size: 20px;
        font-weight: bold;
        li {
          font-size: 16px;
          font-weight: 100;
          margin-left: 20px;
        }
      }
      .skills {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 15px;

        li {
          font-size: 18px;
          font-weight: 100;
          margin-left: 20px;
        }
      }
      .buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 15px;

        a {
          text-decoration: none;
          padding: 8px 20px;
          border-radius: 10px;

          &:nth-child(1) {
            background-color: #111844;
            color: #fffdfa;
          }
          &:nth-child(2) {
            background-color: #aa1945;
            color: #fffdfa;
          }
        }
      }
    }

    .image {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2/3;

      #mock-image {
        width: 100%;
      }
    }
    #footer {
      -ms-grid-column-span: 2;
      grid-column: span 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}

// media queries

@media (max-width: 1400px) {
  main {
    .main-inner {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      text-align: center;

      .top {
        -ms-grid-column: 1;
        grid-column: 1;

        p {
          padding: 0 10px;
        }
      }
      .image {
        -ms-grid-row: 2;
        grid-row: 2;
        -ms-grid-column: 1;
        grid-column: 1;
      }
      .text {
        -ms-grid-row: 3;
        grid-row: 3;
        -ms-grid-column: 1;
        grid-column: 1;
        margin-bottom: 10px;

        .buttons {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
      }

      #footer {
        -ms-grid-column: 1;
        grid-column: 1;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  main {
    .main-inner {
      .top {
        .fa-regular {
          display: none;
        }
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 16px;
        }
      }
      .text {
        h2 {
          font-size: 22px;
        }

        ul {
          font-size: 20px;
          list-style: none;

          li {
            margin-left: 0;
          }
        }
      }

      #footer {
        .footer-inner {
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
