@import "projects", "transition";
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

$dark-color: #111844;
$red-color: #aa1945;
$white-color: #fffdfa;

$breakpoint-laptop: 1000px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 508px;

@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Brooklyn";
  src: url("../fonts/Filmotype-Brooklyn.ttf");
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $dark-color;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  background-color: $white-color;
  font-family: "Brooklyn";
}

// header

#header {
  height: 100vh;

  .header-inner {
    width: 95%;
    margin: auto;
    height: 100vh;
    letter-spacing: 0.5px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 50px;

        img {
          width: 100%;
        }
      }
      .list-items {
        list-style: none;
        display: flex;
        gap: 60px;
        align-items: center;

        li a {
          text-decoration: none;
          position: relative;
          font-size: 18px;
          display: inline-block;
        }

        li a:before {
          content: "";
          position: absolute;
          bottom: 0;
          height: 5px;
          width: 57px;
          background-color: $red-color;
          z-index: -1;
          opacity: 0;
          border-radius: 5px;
        }
        li:nth-child(2) a:before {
          content: "";
          position: absolute;
          bottom: 0;
          height: 5px;
          width: 42px;
          background-color: $red-color;
          z-index: -1;
          opacity: 0;
          border-radius: 5px;
        }

        li a:hover:before {
          opacity: 1;
          transition: 0.4s ease-in;
        }
      }

      .burger-menu {
        display: none;
      }

      .burger-menu div {
        width: 25px;
        height: 3px;
        background-color: #aa1945;
        margin: 5px;
        border-radius: 3px;
      }
    }

    .hero-section {
      display: grid;
      grid-template-columns: auto 1fr;
      height: inherit;

      .social-icons {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        gap: 20px;
        justify-content: center;
        padding-left: 12px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          position: relative;
        }

        a::before {
          content: "";
          position: absolute;
          width: 40px;
          height: 40px;
          background-color: $red-color;
          z-index: -10;
          border-radius: 50px;
          transform: scale(0);
          transition: transform 0.4s, opacity 0.3s;
        }

        a:hover::before {
          transform: scale(1);
          opacity: 1;
        }
      }

      .hero-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .hero-inner-middle {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          .image-shape {
            width: 300px;
            height: 300px;
            position: relative;

            .image-me {
              position: absolute;
              top: 5px;
              right: 5px;
              bottom: 5px;
              left: 5px;
              clip-path: polygon(
                30% 0%,
                70% 0%,
                100% 30%,
                100% 70%,
                70% 100%,
                30% 100%,
                0% 70%,
                0% 30%
              );

              img {
                width: 100%;
                filter: grayscale(1);
                transition: all 0.4s ease-in-out;

                &:hover {
                  filter: none;
                }
              }
            }
          }

          h1 {
            font-size: 30px;

            #name {
              font-size: 96px;
              font-family: "Inspiration", sans-serif;
              color: $red-color;
            }
          }

          p {
            font-size: 22px;
            margin-top: -20px;
            border-top: 1px solid rgba(0, 0, 0, 0.24);
            padding-top: 20px;
          }

          .buttons {
            display: flex;
            gap: 10px;

            #btn-contact,
            #btn-projects {
              padding: 10px 30px;
              text-decoration: none;
              font-size: 18px;
              border-radius: 10px;
              border: none;
              display: flex;
              align-items: center;
            }

            #btn-contact {
              background-color: $dark-color;
              border: none;
              color: $white-color;
              background: linear-gradient(
                  to left,
                  $dark-color 50%,
                  $red-color 50%
                )
                right;
              transition: transform 0.3s;
              background-size: 200%;
              transition: 0.5s ease-out;

              &:hover {
                background-position: left;
              }
            }

            #btn-projects {
              border: 3px solid $dark-color;
              transition: all 0.3s ease-in;

              &:hover {
                border-color: $red-color;
                color: $red-color;
              }
            }
          }
        }
      }
    }
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

// projects

#projects {
  margin-top: 30px;
  .projects-inner {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    position: relative;

    h1,
    p {
      grid-column: 1/-1;
      text-align: center;
      letter-spacing: 0.5px;
    }

    .project-title {
      font-size: 35px;
    }

    p {
      font-size: 22px;
    }

    .project {
      width: 350px;
      height: 250px;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      background-color: $white-color;

      &:after {
        content: "";
        background-color: $dark-color;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -145%;
        height: 150%;
        transition: all 0.5s ease-in;
      }

      &:hover:after {
        bottom: 95%;
      }

      &:hover > .project-inner {
        opacity: 0.1;
      }

      .project-inner {
        position: relative;

        img {
          width: 150px;
          height: 150px;
        }
      }

      .link-project {
        display: flex;
        font-size: 29px;
        letter-spacing: 0.5px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: end;
        color: $red-color;
        text-decoration: none;
        opacity: 0;
        padding-bottom: 5px;
        transition-delay: 0;
        font-family: "PoppinsBold";
      }

      &:hover .link-project {
        opacity: 1;
        transition-delay: 0.4s;
      }
    }
  }
}

//process

#process {
  margin-top: 150px;

  h1 {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 35px;
  }

  .process-inner {
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 80px;
    position: relative;

    .card {
      height: 250px;
      background-color: $white-color;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 10px;

      .image {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 1;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: $dark-color;
        transition: 0.5s ease-in-out;
        border-radius: 10px;

        &:before {
          content: attr(data-text);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 100px;
          color: #ffffff0d;
          font-family: "PoppinsBold";
        }

        img {
          max-width: 120px;
          transition: 0.5s ease-in-out;
        }
      }
      &:hover .image {
        width: 150px;
        height: 150px;
        left: -75px;
        top: calc(50% - 75px);
        transition: 0.5s ease-in-out;
        background: $red-color;
      }

      &:hover .image img {
        max-width: 75px;
      }

      .content {
        font-family: "brooklyn";
        position: absolute;
        right: 0;
        width: calc(100% - 75px);
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.5px;

        h2 {
          margin-bottom: 5px;
        }
      }
    }
  }
}
// about

#about {
  margin: 50px 0;

  h1 {
    font-size: 35px;
    text-align: center;
  }

  .about-inner {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 10px;
      align-items: center;
      letter-spacing: 0.5px;
      font-size: 20px;

      p {
        font: 26px;

        &:nth-child(5) {
          padding-bottom: 30px;
        }
      }

      #quote {
        font-size: 16px;
        width: 250px;
        height: 100px;
        background-color: #111844;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 5px;

        &::before {
          content: "";
          width: 200px;
          height: 150px;
          background-color: #aa1945;
          position: absolute;
          z-index: -1;
          border-radius: 100%;
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.64);
        }
        blockquote {
          color: #fffdfa;
          position: relative;

          &::before,
          &::after {
            color: #fffdfa;
            background-color: #111844;
            width: auto;
            height: 30px;
            font-size: 40px;
            position: absolute;
            font-family: "EB Garamond", serif;
            border-radius: 5px;
          }

          &::before {
            content: "“";
            top: -10px;
            left: -15px;
          }

          &::after {
            content: "”";
            bottom: -35px;
            right: -9px;
          }
        }
        cite {
          font-size: 10px;
          font-style: italic;
          color: #fffdfa;
        }
      }

      .waving-hand {
        animation: wave 2s 1.7s infinite;
        transform-origin: 75% 75%;
        display: inline-block;
        font-size: 24px;
      }

      @keyframes wave {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(16deg);
        }
        20% {
          transform: rotate(-6deg);
        }
        30% {
          transform: rotate(16deg);
        }
        40% {
          transform: rotate(-4deg);
        }
        50% {
          transform: rotate(16deg);
        }
        60% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }
    .right {
      padding: 2em;
      display: flex;
      justify-content: center;

      .right-image {
        position: relative;
        width: 100%;
        max-width: 550px;
        background-image: url("../images/image-about.jpg");
        background-size: cover;
        min-height: 340px;
        filter: grayscale(1);
        transition: all 0.4s ease-in-out;

        &::before,
        &::after {
          content: "";
          position: absolute;
          border: 2px solid $dark-color;
        }

        &:before {
          left: -20px;
          width: calc(100% + 40px);
          height: 100%;
        }
        &:after {
          top: -20px;
          height: calc(100% + 40px);
          width: 100%;
        }

        &:hover {
          filter: none;
        }
      }
    }
  }
}

// contact
svg {
  margin-bottom: -6px;
}
path {
  filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 1px 4px);
}

#contact {
  letter-spacing: 0.5px;
  background-color: #f3f4f5;

  h1 {
    text-align: center;
    font-size: 35px;
  }

  .contact-inner {
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    p {
      font-size: 22px;
    }
    .btn-container {
      display: flex;
      align-items: center;

      button {
        border: 3px solid $dark-color;
        color: $dark-color;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .message {
      padding: 8px 15px;
      background-color: $red-color;
      border-radius: 10px;
      color: $white-color;
      opacity: 0;
    }
  }
  .social-icons-mobile {
    display: none;
  }
}

//footer
#footer {
  width: 100%;
  background-color: $dark-color;

  .footer-inner {
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: 5px 0;
    p {
      padding-bottom: 5px;
      color: $white-color;
      .fa-heart::before {
        color: $red-color;
      }
      .fa-copyright::before {
        color: $white-color;
      }
    }
  }
}

//media queries

@media (min-width: 1622px) {
  #projects {
    .projects-inner {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: $breakpoint-laptop) {
  #about {
    .about-inner {
      grid-template-columns: 1fr;
    }
    .right {
      margin-top: 10px;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  #about {
    .about-inner {
      .left {
        font-size: 18px;
      }
    }
  }
  #process {
    .process-inner {
      .step-three {
        grid-column: 1/-1;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .transition {
    overflow-x: hidden;
    position: relative;
  }
  body {

    #header {
      height: auto;
      margin-bottom: 100px;

      .header-inner {
        height: auto;

        nav {
          .logo {
            z-index: 2;
          }
          .list-items {
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100%;
            background-color: $dark-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
            gap: 100px;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;

            .list-item a {
              color: $white-color;

              &:hover::before {
                opacity: 0;
              }
            }

            &.active {
              transform: translateX(0%);
            }
          }
          .burger-menu {
            display: block;
            cursor: pointer;
            z-index: 2;
          }
        }
        .hero-section {
          grid-template-columns: 1fr;
          .social-icons {
            display: none;
          }
          .hero-inner {
            .hero-inner-middle {
              margin-top: 30px;

              .image-shape {
                width: 250px;
                height: 250px;
              }
              h1 {
                #name {
                  font-size: 80px;
                }
              }
              p {
                font-size: 18px;
              }
              .buttons {
                #btn-contact,
                #btn-projects {
                  padding: 8px 28px;
                }
                #btn-contact:hover {
                  background-position: right;
                }
                #btn-projects:hover {
                  border-color: $dark-color;
                  color: $dark-color;
                }
              }
            }
          }
        }
      }
    }
  }

  #projects {
    .projects-inner {
      width: 100%;
      .project-title {
        font-size: 30px;
      }
      .project {
        border-bottom: 10px solid $dark-color;
        &::after {
          height: 0;
        }
        &:hover > .project-inner {
          opacity: 1;
        }
        &:hover .link-project {
          opacity: 0;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }

  #about {
    h1 {
      font-size: 30px;
    }
    .about-inner {
      .left {
        text-align: center;
      }
      .right {
        .right-image {
          background-position: center;
        }
      }
    }
  }

  #process {
    h1 {
      font-size: 30px;
    }
    .process-inner {
      justify-items: center;

      .card {
        height: auto;
        max-width: 300px;
        .image {
          position: relative;
          grid-row: 1/2;

          &::before {
            font-size: 70px;
            bottom: 10px;
          }
        }

        &:hover .image,
        & .image {
          width: 100%;
          height: 200px;
          left: 0;
          top: 0;

          img {
            max-width: 100px;
          }
        }
        .content {
          position: relative;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  #contact {
    h1 {
      font-size: 30px;
    }

    .contact-inner {
      padding: 0 20px;

      p {
        font-size: 18px;
      }
    }
    .social-icons-mobile {
      display: flex;
      gap: 10px;

      a {
        border: none;
        font-size: 22px;
      }
    }
  }
}
